.footer {
    background-color: $lightCyan;
    text-align: center;
    font-family: 'Barlow';
    font-size: $font-xsmall;
    padding-top: 3.125rem;

    &__logo {
        display: flex;
        justify-content: center;
        padding-bottom: 2.1875rem
    }

    &__links {
        padding-bottom: 4.5rem;
        justify-content: center;

        ul {
            display: inline-flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                &:not(:last-child) {
                    margin-right: 2.875rem;
                }
            }
        }

        a {
            transition: color 150ms ease-in-out;
            color: $darkModerateCyan;

            &:not(:last-child) {
                margin-right: 2.875rem;
            }

            &:hover {
                color: $white;
            }
        }
    }

    &__contact {

        ul {
            display: inline-flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                &:not(:last-child) {
                    margin-right: 2.3125rem;
                }
            }
        }
        
        a {
      
            svg path {
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path {
                fill: $white;
            }
        }
        
    }

    
}