html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif; 
    font-family: 'Fraunces', serif;
    line-height: 1.4;
    overflow-x: hidden;

    &.noscroll {
        overflow: hidden;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
}

//Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//container
.container {
    //max-width: 69.375rem;
    margin: 0 auto;

    &--pall {
        padding-top: 1.875rem;
        padding-right: 1.125rem;
        padding-bottom: 3.75rem;
        padding-left: 1.125rem;

        @include breakpoint-up(large) {
            padding-right: 2.375rem;
            padding-bottom: 4.375rem;
            padding-left: 2.375rem;
        }
    }

    &--px {
        padding-right: 1.125rem;
        padding-left: 1.125rem;

        @include breakpoint-up(large) {
            padding-right: 5rem;
            padding-left: 5rem; 
        }

        @include breakpoint-up(xlarge) {
            padding-right: 6.875rem;
            padding-left: 6.875rem; 
        }
    }

    &--py {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;

        @include breakpoint-up(medium) {
            padding-top: 2.5rem;
             
        }

        @include breakpoint-up(large) {
            padding-top: 6.25rem;
        }

        @include breakpoint-up(xlarge) {
            padding-top: 10rem;
            padding-bottom: 5rem; 
        }
    }
}

button, .button {
    position: relative;
    display: inline-block;
    background-color: $white;
    border-radius: 1.875rem;
    border: 0;
    padding: 1.25rem 1.875rem 1.25rem 1.875rem;
    color: black;
    font-family: 'Fraunces';
    font-size: $font-xsmall;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    overflow: hidden; //to show the rounded corner for pseudo element

    @include breakpoint-down(medium) {
        background-color: $yellow;
        padding: 1.25rem;
    }

    &:after {
        content: "";
        position: absolute;
    }
    
    &:hover, &:focus {
        color: $white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;

        @include breakpoint-down(medium) {
            background-color: rgb(249, 255, 159);
            ;
            opacity: 1;
        }
    }
}

//Visibility 
.hide-for-mobile {
    //hide for table and mobile 
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop viewport
    @include breakpoint-up(large) {
        display: none;
    }
}