.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
  line-height: 1.4;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 0 auto;
}

.container--pall {
  padding-top: 1.875rem;
  padding-right: 1.125rem;
  padding-bottom: 3.75rem;
  padding-left: 1.125rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-right: 2.375rem;
    padding-bottom: 4.375rem;
    padding-left: 2.375rem;
  }
}

.container--px {
  padding-right: 1.125rem;
  padding-left: 1.125rem;
}

@media (min-width: 64em) {
  .container--px {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 77.5em) {
  .container--px {
    padding-right: 6.875rem;
    padding-left: 6.875rem;
  }
}

.container--py {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

@media (min-width: 48em) {
  .container--py {
    padding-top: 2.5rem;
  }
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6.25rem;
  }
}

@media (min-width: 77.5em) {
  .container--py {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

.button {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 1.875rem;
  border: 0;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  color: black;
  font-size: 0.75rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

@media (max-width: 63.9375em) {
  .button {
    background-color: #fad400;
    padding: 1.25rem;
  }
}

.button:after {
  content: "";
  position: absolute;
}

.button:hover, .button:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .button:hover, .button:focus {
    background-color: #f9ff9f;
    opacity: 1;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background: #47bdff;
  position: relative;
  z-index: 1;
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47bdff), to(transparent));
  background-image: linear-gradient(#47bdff, transparent);
}

.header nav {
  position: relative;
}

@media (max-width: 63.9375em) {
  .header nav {
    padding-bottom: 0;
  }
}

.header__logo {
  background-image: inherit;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__links a {
  font-size: 0.875rem;
  font-family: sans-serif;
  color: white;
  margin-right: 45px;
}

.header__mobileMenu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2.5rem 6rem 2.5rem 6rem;
  margin-top: 3.125rem;
  background: white;
}

.header__mobileMenu::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 45px solid white;
  border-left: 50px solid transparent;
  bottom: 100%;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__mobileMenu a {
  display: block;
  color: #818498;
  font-family: sans-serif;
  font-size: 0.875rem;
  text-align: center;
}

.header__mobileMenu a:not(:last-child) {
  margin-bottom: 2rem;
}

.header__mobileMenu a.button {
  color: black;
  font-family: 'Fraunces', serif;
}

@media (min-width: 48em) {
  .header__mobileMenu a.button {
    margin-left: 9.4rem;
    margin-right: 9.4rem;
  }
}

.hero .container {
  margin-top: -5.3125rem;
}

@media (min-width: 64em) {
  .hero .container {
    margin-top: -10.312rem;
  }
}

@media (min-width: 77.5em) {
  .hero .container {
    margin-top: -13.875rem;
  }
}

.hero__img {
  position: relative;
  background-image: url("../../images/mobile/image-header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 32.25rem;
}

@media (min-width: 41.6875em) {
  .hero__img {
    background-image: url("../../images/desktop/image-header.jpg");
    min-height: 23.125rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 41.6875em) and (min-width: 48em) {
  .hero__img {
    min-height: 26.5rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 41.6875em) and (min-width: 64em) {
  .hero__img {
    min-height: 35.5rem;
    margin-top: 0;
  }
}

@media (min-width: 41.6875em) and (min-width: 77.5em) {
  .hero__img {
    min-height: 43.75rem;
  }
}

.hero__img::before {
  content: '';
  position: absolute;
  background: url("../../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 50% 58%;
  margin-top: 25px;
}

@media (min-width: 41.6875em) {
  .hero__img::before {
    margin-top: -0.75rem;
  }
}

@media (min-width: 48em) {
  .hero__img::before {
    margin-top: -1rem;
  }
}

@media (min-width: 64em) {
  .hero__img::before {
    margin-top: -1.875rem;
  }
}

@media (min-width: 77.5em) {
  .hero__img::before {
    margin-top: -0.875rem;
  }
}

.hero__text {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -24.25rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.875rem;
  letter-spacing: 7px;
  color: white;
}

@media (min-width: 41.6875em) {
  .hero__text {
    margin-top: -20.25rem;
  }
}

@media (min-width: 48em) {
  .hero__text {
    margin-top: -22.25rem;
  }
}

@media (min-width: 64em) {
  .hero__text {
    margin-top: -25.25rem;
  }
}

@media (min-width: 77.5em) {
  .hero__text {
    margin-top: -30.25rem;
  }
}

.content {
  text-align: center;
}

@media (min-width: 41.6875rem) {
  .content__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "firstContent egg" "cup secondContent" "cherries oranges";
  }
}

@media (min-width: 64em) {
  .content__grid {
    text-align: left;
  }
}

.content__egg {
  position: relative;
  background-image: url("../../images/mobile/image-transform.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 21.5625rem;
}

@media (min-width: 41.6875em) {
  .content__egg {
    background-size: 112%;
    min-height: 18.563rem;
    background-position: 50%;
  }
}

@media (min-width: 48em) {
  .content__egg {
    background-image: url("../../images/desktop/image-transform.jpg");
    min-height: 20rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: egg;
  }
}

@media (min-width: 64em) {
  .content__egg {
    min-height: 26.625rem;
  }
}

@media (min-width: 77.5em) {
  .content__egg {
    min-height: 32.875rem;
  }
}

.content__firstContent {
  grid-area: firstContent;
}

@media (min-width: 77.5em) {
  .content__firstContent {
    padding-top: 8.75rem;
  }
}

.content__firstContent .topic {
  font-size: 1.875rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .content__firstContent .topic {
    padding: 0;
  }
}

.content__firstContent p {
  font-size: 0.875rem;
  color: #818498;
  font-family: 'Barlow', sans-serif;
}

@media (min-width: 64em) {
  .content__firstContent p {
    line-height: 2;
  }
}

.content__firstContent a {
  position: relative;
  display: block;
  margin-bottom: 3.125rem;
  color: black;
  font-size: 0.75rem;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}

.content__firstContent a:after {
  content: '';
  position: absolute;
  width: 27%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 3px;
  height: 0.25rem;
  background-color: #f9ff9f;
  border-radius: 10px;
  mix-blend-mode: soft-light;
}

@media (min-width: 64em) {
  .content__firstContent a:after {
    width: 25%;
    left: 11%;
  }
}

.content__firstContent a.yellow:hover:after {
  background-color: #fad400;
  opacity: 1;
}

.content__cup {
  position: relative;
  background-image: url("../../images/mobile/image-stand-out.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 21.5625rem;
}

@media (min-width: 41.6875em) {
  .content__cup {
    background-size: 112%;
    min-height: 18.563rem;
    background-position: 50%;
  }
}

@media (min-width: 48em) {
  .content__cup {
    background-image: url("../../images/desktop/image-stand-out.jpg");
    min-height: 20rem;
    grid-area: cup;
  }
}

@media (min-width: 64em) {
  .content__cup {
    min-height: 26.625rem;
  }
}

@media (min-width: 77.5em) {
  .content__cup {
    min-height: 32.875rem;
  }
}

.content__secondContent {
  grid-area: secondContent;
}

@media (min-width: 77.5em) {
  .content__secondContent {
    padding-top: 8.75rem;
  }
}

.content__secondContent .topic {
  font-size: 1.875rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .content__secondContent .topic {
    padding: 0;
  }
}

.content__secondContent p {
  font-size: 0.875rem;
  color: #818498;
  font-family: 'Barlow', sans-serif;
}

@media (min-width: 64em) {
  .content__secondContent p {
    line-height: 2;
  }
}

.content__secondContent a.yellow:after {
  background-color: #f9ff9f;
}

.content__secondContent a.pink:after {
  background-color: #ffbbb3;
}

.content__secondContent a {
  position: relative;
  display: block;
  margin-bottom: 3.125rem;
  color: black;
  font-size: 0.75rem;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}

.content__secondContent a:after {
  content: '';
  position: absolute;
  width: 27%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 3px;
  height: 0.25rem;
  background-color: #ffbbb3;
  border-radius: 10px;
  mix-blend-mode: soft-light;
}

@media (min-width: 64em) {
  .content__secondContent a:after {
    width: 25%;
    left: 11%;
  }
}

.content__secondContent a.pink:hover:after {
  background-color: #fe7867;
  opacity: 1;
}

.content__thirdContent {
  margin-top: -18rem;
  content: "";
  position: absolute;
  grid-area: cherries;
}

@media (min-width: 41.6875em) {
  .content__thirdContent {
    position: relative;
    margin-top: -10rem;
  }
}

@media (min-width: 48em) {
  .content__thirdContent {
    position: relative;
    margin-top: -10rem;
    padding-top: 0.625rem;
  }
}

@media (min-width: 64em) {
  .content__thirdContent {
    text-align: center;
    margin-top: -12rem;
    padding-top: 0;
  }
}

.content__thirdContent .topic {
  font-size: 1.875rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  color: #25564b;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .content__thirdContent .topic {
    margin-bottom: 0;
  }
}

.content__thirdContent p {
  font-size: 0.875rem;
  color: #25564b;
  font-family: 'Barlow', sans-serif;
}

@media (min-width: 64em) {
  .content__thirdContent p {
    line-height: 2;
  }
}

.content__cherry {
  position: relative;
  background-image: url("../../images/mobile/image-graphic-design.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 41.5rem;
}

@media (min-width: 41.6875em) {
  .content__cherry {
    min-height: 33.5rem;
  }
}

@media (min-width: 48em) {
  .content__cherry {
    background-image: url("../../images/desktop/image-graphic-design.jpg");
    min-height: 20rem;
    grid-area: cherries;
  }
}

@media (min-width: 64em) {
  .content__cherry {
    min-height: 26.625rem;
  }
}

@media (min-width: 77.5em) {
  .content__cherry {
    min-height: 32.875rem;
  }
}

.content__fourthContent {
  margin-top: -10rem;
  content: "";
  position: absolute;
  color: #25564b;
  grid-area: oranges;
}

@media (min-width: 48em) {
  .content__fourthContent {
    padding-top: 0.625rem;
  }
}

@media (min-width: 64em) {
  .content__fourthContent {
    text-align: center;
    margin-top: -12rem;
    padding-top: 0;
  }
}

.content__fourthContent .topic {
  font-size: 1.875rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  color: #19536b;
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .content__fourthContent .topic {
    margin-bottom: 0;
  }
}

.content__fourthContent p {
  font-size: 0.875rem;
  color: #19536b;
  font-family: 'Barlow', sans-serif;
}

@media (min-width: 64em) {
  .content__fourthContent p {
    line-height: 2;
  }
}

.content__orange {
  position: relative;
  background-image: url("../../images/mobile/image-photography.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 33.5rem;
  margin-top: -5.5rem;
}

@media (min-width: 41.6875em) {
  .content__orange {
    margin-top: 0;
  }
}

@media (min-width: 48em) {
  .content__orange {
    background-image: url("../../images/desktop/image-photography.jpg");
    min-height: 20rem;
    margin-top: 0;
    grid-area: oranges;
  }
}

@media (min-width: 64em) {
  .content__orange {
    min-height: 26.625rem;
  }
}

@media (min-width: 77.5em) {
  .content__orange {
    min-height: 32.875rem;
  }
}

.testimonial {
  text-align: center;
}

.testimonial .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 75% auto;
      grid-template-rows: 75% auto;
      grid-template-areas: "emily thomas jennie" "emilyDescription thomasDecsription jennieDescription";
}

@media (max-width: 63.9375em) {
  .testimonial .container {
    display: block;
  }
}

.testimonial .emily {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: emily;
}

.testimonial .emilyDescription {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: emilyDescription;
}

.testimonial .thomas {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: thomas;
}

.testimonial .thomasDecsription {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: thomasDecsription;
}

.testimonial .jennie {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: jennie;
}

.testimonial .jennieDescription {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: jennieDescription;
}

.testimonial__title {
  text-transform: uppercase;
  color: #818498;
  font-size: 0.875rem;
  letter-spacing: 5px;
}

@media (max-width: 63.9375em) {
  .testimonial__title {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.testimonial img {
  border-radius: 50%;
  width: 4rem;
}

.testimonial__text {
  color: #5a636c;
  font-size: 0.875rem;
  font-family: 'Barlow';
  line-height: 1.8;
  padding: 1.875rem;
}

.testimonial__name {
  padding-bottom: 0.75rem;
}

.testimonial__position {
  color: #818498;
  font-size: 0.75rem;
  font-family: 'Barlow';
  padding-bottom: 3.125rem;
}

@media (min-width: 64em) {
  .testimonial__position {
    padding-bottom: 10rem;
  }
}

.testimonial__images {
  background: #90d4c5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "milk egg" "cone sugarcube";
}

@media (min-width: 41.6875em) {
  .testimonial__images {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "milk egg cone sugarcube";
  }
}

.testimonial__milk {
  background-image: url("../../images/mobile/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 11.25rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: milk;
}

@media (min-width: 25.875em) {
  .testimonial__milk {
    min-height: 12.9rem;
  }
}

@media (min-width: 64em) {
  .testimonial__milk {
    background-image: url("../../images/desktop/image-gallery-milkbottles.jpg");
    min-height: 20rem;
  }
}

@media (min-width: 77.5em) {
  .testimonial__milk {
    min-height: 24.625rem;
  }
}

.testimonial__egg {
  background-image: url("../../images/mobile/image-gallery-orange.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 11.25rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: egg;
}

@media (min-width: 25.875em) {
  .testimonial__egg {
    min-height: 12.9rem;
  }
}

@media (min-width: 64em) {
  .testimonial__egg {
    background-image: url("../../images/desktop/image-gallery-orange.jpg");
    min-height: 20rem;
  }
}

@media (min-width: 77.5em) {
  .testimonial__egg {
    min-height: 24.625rem;
  }
}

.testimonial__cone {
  background-image: url("../../images/mobile/image-gallery-cone.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 11.25rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cone;
}

@media (min-width: 25.875em) {
  .testimonial__cone {
    min-height: 12.9rem;
  }
}

@media (min-width: 64em) {
  .testimonial__cone {
    background-image: url("../../images/desktop/image-gallery-cone.jpg");
    min-height: 20rem;
  }
}

@media (min-width: 77.5em) {
  .testimonial__cone {
    min-height: 24.625rem;
  }
}

.testimonial__sugarcube {
  background-image: url("../../images/mobile/image-gallery-sugar-cubes.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 11.25rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sugarcube;
}

@media (min-width: 25.875em) {
  .testimonial__sugarcube {
    min-height: 12.9rem;
  }
}

@media (min-width: 64em) {
  .testimonial__sugarcube {
    background-image: url("../../images/desktop/image-gallery-sugarcubes.jpg");
    min-height: 20rem;
  }
}

@media (min-width: 77.5em) {
  .testimonial__sugarcube {
    min-height: 24.625rem;
  }
}

.footer {
  background-color: #90d4c5;
  text-align: center;
  font-family: 'Barlow';
  font-size: 0.75rem;
  padding-top: 3.125rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2.1875rem;
}

.footer__links {
  padding-bottom: 4.5rem;
}

.footer__links a {
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: #458c7e;
}

.footer__links a:not(:last-child) {
  margin-right: 2.875rem;
}

.footer__links a:hover {
  color: white;
}

.footer__contact a:not(:last-child) {
  margin-right: 2.3125rem;
}

.footer__contact a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__contact a:hover svg path {
  fill: white;
}
/*# sourceMappingURL=style.css.map */